<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/styles/home.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        var user="Sathvik"
        $("#user").html(user)
         $("#userlogout a").click(function() {
            window.navigate('/')
        });

    </script>
</head>
<body>
<div class="navbar justify-content-end">
    <a href="#" title="About">About</a>
  <a href="#" title="Search"><i class="fa fa-fw fa-search"></i> Search</a>
  <a href="#" title="Contact"><i class="fa fa-fw fa-envelope"></i> Contact</a>
  <a href="/" id="userlogout" title="Logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
</div>
<div class="col-md-12">
    Hello {{ inputdata }} welcome back to Client Application.
</div>
</body>
</html>